@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --green-50: #e9ffe4;
  --green-100: #ccffc4;
  --green-200: #9eff90;
  --green-300: #5fff50;
  --green-400: #29fe1d;
  --green-500: #07e500;
  --green-600: #5fff50;
  --green-700: #008000;
  --green-800: #076d08;
  --green-900: #0b5c0d;
  --green-950: #003404;

  --white-50: #ffffff;
  --white-100: #efefef;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;

  --red-50: #fef2f3;
  --red-100: #fef2f3;
  --red-200: #fbd0d5;
  --red-300: #f7aab2;
  --red-400: #f27a8a;
  --red-500: #ea546c;
  --red-600: #d5294d;
  --red-700: #b31d3f;
  --red-800: #961b3c;
  --red-900: #811a39;
  --red-950: #48091a;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}
