.containerFileActions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5em;
}

.containerDrop {
  /* border-radius: 50px; */
  /* width: 90%; */
  margin-left: 5%;
  background: var(---white-100-shadow);
  box-shadow: -20px 20px 60px var(--white-0-shadow),
    20px -20px 60px var(--white-01-shadow);
  display: grid;
  place-content: center;
  max-height: 20vh;
  padding: 30px 0px 20px 0px;
  border-radius: 8px;
  cursor: pointer;
  flex-basis: 400px;
  flex-grow: 1;
}

.containerDropNo {
  width: 90%;
  margin-left: 5%;
  /* background: var(---white-100-shadow); */
  /* box-shadow: -20px 20px 60px var(--white-0-shadow),
    20px -20px 60px var(--white-01-shadow); */
  display: grid;
  border: 1px solid #cecece;
  place-content: center;
  max-height: 20vh;
  padding: 30px 0px 20px 0px;
  border-radius: 8px;
  cursor: pointer;
  flex-basis: 400px;
  flex-grow: 1;
}

.dbSiync {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.centerDbSync {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxBtnSync {
  display: grid;
  place-content: center;
}

.btnSync {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  gap: 10px;
  background: var(--white-100);
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btnSync:hover {
  background: var(--white-200);
}

.boxBtnGoSaved {
  display: grid;
  place-content: center;
  margin-top: 2em;
}

.boxIconSync {
  display: grid;
  place-content: center;
}

.iconSyncFail {
  color: red;
}

.iconSync {
  color: green;
}

.textSync {
  display: grid;
  place-content: center;
  position: relative;
  top: 1px;
}

.boxInfoSync {
  display: grid;
  place-content: center;
}

.centerInfoSync {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxIconInfoSync {
  display: grid;
  place-content: center;
}

/* .containerDrop:hover {
  scale: 1.01;
} */

.boxMessage {
  display: flex;
  flex-direction: column;
}

.boxIconFile,
.boxMessage p {
  display: grid;
  place-content: center;
}

.iconLoadFile {
  color: var(--green-200);
}

.boxBtnProc {
  display: grid;
  place-content: center;
  margin-top: 2em;
}

.boxBtnProc button {
  padding: 5px 10px;
  background: var(--white-200);
  border: 1px solid transparent;
  box-shadow: -20px 20px 60px var(--white-0-shadow),
    20px -20px 60px var(--white-01-shadow);
    cursor: pointer;
}

.boxBtnProc button:hover {
  background: var(--green-100);
}

.NameFile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.NameFile p {
  font-size: 30px;
  margin: 0;
}

.bytesFile {
  margin: 0;
  text-align: center;
}

.iconNameFile,
.NameFile p {
  display: grid;
  place-content: center;
}
